

header{
    width: 100%;
    height: 60px;
    padding: 10px 0px 10;
    background-color: brown

}

main{
width:90% ;
background-color: wheat;
padding: 20px;
margin: 20px auto;
border-radius: 20px;
box-shadow:rgb(79, 41, 41)
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif


}




#logo img{
width: 40px;
height: 40px;

border-radius: 50px;
}

#logo{
width: 40px;
height: 40px;
background-color: rgb(51, 51, 255);
border-radius: 40px;
overflow: hidden;
float: left;


}

nav {

    width: auto;
    height: auto;
    line-height: 40px;
    float: right;
    margin: 0px 20px;
}

a{  text-decoration: none;
margin: 0px 6px;
background-color: rgb(152, 123, 93);
color: azure;
padding: 0px 15px;
border-radius: 5px;



}

#banner{
width: 100%;
height: 400px;
background-image: url(../images/banner.jpg);
background-size:contain;
background-position: center;

}

h1,h2{ text-decoration: solid;
color:brown

}

footer{
width: 100%;
height: 60px;
padding: 10px 10px 10;
text-align: center;
background-color: wheat
}
